@import 'reset.scss';

$dark-color: #252525;
$light-color: #e0e9c4;
$primary-color: #9aa57c;
$secondary-color: #4b564d;

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
}

#game-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  flex-direction: column;
  font-family: sans-serif;
  user-select: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -ms-user-select: none;


  #game-description {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    max-width: 300px;
    color: #e0e9c4;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    h1 {
      font-size: 2em;
      font-weight: bold;
      // line-height: 2em;
      line-height: 1.2em;
      margin-bottom: 1em;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

    }

    p {
      line-height: 1.4em;
      font-size: 1em;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

    }
  }

  #start-game {
    padding: 10px 20px;
    background: $primary-color;
    border: 1px solid $dark-color;
    font-size: 1em;
    color: $dark-color;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;

    &:hover {
      background: $secondary-color;
      color: $light-color;
    }
  }

  canvas {
    // border: 1px solid;
    -webkit-tap-highlight-color: $dark-color;
    user-select: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
    padding: 0;
  }
}

body {
  overflow-y: hidden;
  background: $dark-color;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}